// Navigation bar
// Backgrounds
.navbar {
  height: 70px;
}

.navbar, .dark .navbar {
  background: linear-gradient(to bottom, rgba(33, 37, 41, 1), rgba(33, 37, 41, 0.95), rgba(33, 37, 41, 0.90), rgba(33, 37, 41, 0.85), rgba(33, 37, 41, 0.80), rgba(33, 37, 41, 0.75), rgba(33, 37, 41, 0.70), rgba(33, 37, 41, 0.65), rgba(33, 37, 41, 0));
}

.dark .navbar-light, .navbar-light {
  box-shadow: none;
}

// Logo

a:not(.btn).navbar-brand:hover, a:not(.btn).navbar-brand:focus {
    color: black;
}

.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 16px;
}

.navbar-brand,
.navbar-nav li.nav-item a.nav-link {
  height: inherit;
  line-height: 1.5;
  padding: 5px 10px 5px 10px;
}

.navbar-light .navbar-brand {
  font-weight: bold;
  font-size: 1.6em;
  color: #999999;
}

.navbar-brand {
  text-align: center;
  border: 2px;
  border-style: solid;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: black;
  background-color: #eee ;
}

.navbar-collapse {
  top: 4.5em;
}

// Landing section

// .landing {
//   height: 100vh;
//   background-repeat: no-repeat;
//   background-attachment :fixed;
//   background-size: cover;
//   background-position: center;
//   position: relative;
//   top: -70px;
// }

.landing {
  height: 100vh;
}

.landing #bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

.landing #bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

// Portrait format for biography

.portrait {
	width: 220px;
	height: 275px;
	margin: 0 auto;
	border-radius: 0;
	object-fit: cover;
}
