<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
<iframe src="{{ index .Params 0 }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%" frameborder="0"></iframe>
</div>